.categories {
   padding-top: 50px;
   &__list {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 0 30px 0;
      // justify-content: space-between;
      justify-content:flex-start;
      margin-bottom: 20px;
      &-item {
         white-space:nowrap ;
         border: 1px solid rgba(0, 0, 0, 0.569);
         border-radius: 3px;
         margin: 10px 10px 0 0;
         justify-content: center;
         padding: 5px;
         // letter-spacing: 1;
         @include adaptiv-font (16, 14);
      }
      &-item:hover{
         box-shadow: 3px 3px .6em #0000005f;
      }
   }
}
// ------------------------

.available {
   // margin:0 auto;
   text-align: center;
   &__title{
      text-align: left;
   }
   &__list {
      display:flex;
      flex-direction: column;
      align-items:center;
   }
   &__item {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items:center;
   }
   &__item:last-child {
      margin-bottom: 25px;
   }
   &__item p{
      @include adaptiv-font (20, 12);
      padding-top: 5px;
   }
   &__item-image {
      border: 1px solid ;
      padding: 10px;
      width: 220px;
      margin-bottom: 10px;
      & img{
         width: 200px;
      }
   }
}
h4{
   @extend %NotoSans-500;
   @include adaptiv-font (30, 14);
}

// ========= (min-width: 768) =======
@media (min-width: 767.98px) {
   .categories {
      padding-top: 15px;
   }
   .available {
      &__list {
         align-items: flex-start;
      }
      &__item {
         flex-direction: row;
         align-items: flex-start;
         &-image {
            width: 270px;
            margin-right: 20px;
            & img{
               width: 250px;
            }
         }
         &-text{
            display: flex;
            flex-direction:column-reverse;
            // justify-content:center;
            align-items:flex-start;
         }
      }
   }
}

// ========= (min-width: 1920) =======
@media (min-width: 1919.98px) {
   .available__item:last-child {
      margin-bottom: 100px;
   }
}